<div class="nested-fields p-2 my-2 bg-gray-100 border rounded border-gray-300">
  <div class="my-5">
    <%= f.label :name %>
    <%= f.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%=link_to_remove_association "Remove Actor", f, class: 'rounded-lg p-2 bg-red-500 text-white text-sm' %>
</div>